
    
     <%- include("header")  -%>
        <div class="box">
<div class="title">
    <h1><%= kindOfDay %></h1>
</div>
</div>
<div class="entries">
    <form action="/delete" method="post">
        <center>
            <% Item.forEach(function(element) { %>
                 
                 <div class="item" >
                   
                   <input type="checkbox" name="checkbox" value="<%=element._id  %>" onChange="this.form.submit()"></input>
                  
                   <p><%=element.name%></p>
                   
                  </div>
             
          <%  }); %>
          </center>
    </form>
  
          

</div>
           
                
            
           
    <form action="/" method="post" class="button">
    <input type="text" name="newItem" autocomplete="off" placeholder="New Item">
    <button type="submit" name="list" value=<%= kindOfDay %> >+</button>
   
    </form>
    
      
        

   
    <%- include("footer")  -%>